@{
    ViewBag.Title = "tutorHut Support";
}
@{ 
    ViewBag.Message = "DarkLight Solutions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    225 East Michigan Street<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">P:</abbr>
    414.420.1776
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>