@{
    ViewBag.Title = "tutorHut Support";
}
@{ 
    ViewBag.Message = "DarkLight Solutions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    225 East Michigan Street<br />
    Milwaukee, WI 53202<br />
    <abbr title="Phone">Phone:</abbr>
    414.420.1776
</address>

<address>
    <strong>Tech Support:</strong>   <a href="mailto:Support@darklightslns.com">Support@darklightslns.com</a><br />
    <strong>Customer Service:</strong> <a href="mailto:Marketing@darklightslns.com">Service@darklightslns.com</a><br />
    <strong>General:</strong>   <a href="mailto:Support@darklightslns.com">General@darklightslns.com</a><br />
</address>