
@{
    ViewBag.Title = "Index";
}



<style>
    .myMargin{
        margin-top: 15px;
    }

    .mySize{
        /*height: 200px;*/
        width: 100%;
    }
</style>


<h3>Welcome to the tutor page where you can send emails out</h3>




@using (Html.BeginForm("Index", "Tutor", FormMethod.Post, new { @class = "Form-Horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <div class="col-sm-12">
            <input class="form-control" type="text" name="parentEmail "placeholder="Enter a Email" />
        </div>
        <div class="col-sm-12 myMargin mySize">
            <input class="form-control" type="text" name="message" placeholder="Enter a Message"/>
        </div>
        <div class="col-sm-12">
            <input type="submit" value="Send Email" class="btn btn-default" />
        </div>
    </div>
}






